WSDL/VomS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://inm381/Coursework" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://inm381/Coursework/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://inm381/Coursework">
    <wsdl:documentation>VomS</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inm381/Coursework/xsd">
            <xs:element name="giveOffer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vehiclePrice" type="xs:int"/>
                        <xs:element minOccurs="0" name="money" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="giveOfferResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="giveOfferRequest">
        <wsdl:part name="parameters" element="ns:giveOffer"/>
    </wsdl:message>
    <wsdl:message name="giveOfferResponse">
        <wsdl:part name="parameters" element="ns:giveOfferResponse"/>
    </wsdl:message>
    <wsdl:portType name="VomSPortType">
        <wsdl:operation name="giveOffer">
            <wsdl:input message="axis2:giveOfferRequest" wsaw:Action="urn:giveOffer"/>
            <wsdl:output message="axis2:giveOfferResponse" wsaw:Action="urn:giveOfferResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VomSSoap11Binding" type="axis2:VomSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="giveOffer">
            <soap:operation soapAction="urn:giveOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VomSSoap12Binding" type="axis2:VomSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="giveOffer">
            <soap12:operation soapAction="urn:giveOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VomSHttpBinding" type="axis2:VomSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="giveOffer">
            <http:operation location="VomS/giveOffer"/>
            <wsdl:input>
                <mime:content type="text/xml" part="giveOffer"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="giveOffer"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VomS">
        <wsdl:port name="VomSHttpSoap11Endpoint" binding="axis2:VomSSoap11Binding">
            <soap:address location="http://10.0.2.15:8888/axis2/services/VomS.VomSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="VomSHttpSoap12Endpoint" binding="axis2:VomSSoap12Binding">
            <soap12:address location="http://10.0.2.15:8888/axis2/services/VomS.VomSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="VomSHttpEndpoint" binding="axis2:VomSHttpBinding">
            <http:address location="http://10.0.2.15:8888/axis2/services/VomS.VomSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
