SOACWKBpel/src/jbiServiceUnits/BpelModule2/CpayS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://inm381/Coursework" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://inm381/Coursework/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://inm381/Coursework">
    <wsdl:documentation>CpayS</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inm381/Coursework/xsd">
            <xs:element name="resultPayment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resultPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="resultPaymentRequest">
        <wsdl:part name="parameters" element="ns:resultPayment"/>
    </wsdl:message>
    <wsdl:message name="resultPaymentResponse">
        <wsdl:part name="parameters" element="ns:resultPaymentResponse"/>
    </wsdl:message>
    <wsdl:portType name="CpaySPortType">
        <wsdl:operation name="resultPayment">
            <wsdl:input message="axis2:resultPaymentRequest" wsaw:Action="urn:resultPayment"/>
            <wsdl:output message="axis2:resultPaymentResponse" wsaw:Action="urn:resultPaymentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CpaySSoap11Binding" type="axis2:CpaySPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="resultPayment">
            <soap:operation soapAction="urn:resultPayment" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:input>
            <wsdl:output>
               <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CpayS">
        <wsdl:port name="CpaySHttpSoap11Endpoint" binding="axis2:CpaySSoap11Binding">
            <soap:address location="http://localhost:8888/axis2/services/CpayS.CpaySHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
