SOACWKBpel/src/jbiServiceUnits/BpelModule2/Lbros.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://inm381/Coursework" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://inm381/Coursework/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax223="http://ws.apache.org/axis2/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://inm381/Coursework">
    <wsdl:documentation>Lbros</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
            <xs:complexType name="LoanProducts">
                <xs:sequence>
                    <xs:element minOccurs="0" name="borrow" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cars" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idLoan" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lender" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="payment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="period" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalPayment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax224="http://ws.apache.org/axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inm381/Coursework/xsd">
            <xs:import namespace="http://ws.apache.org/axis2/xsd"/>
            <xs:element name="returnsearchLoan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userCar" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="returnsearchLoanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax224:LoanProducts"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchLoan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userCar" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchLoanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax224:LoanProducts"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="returnsearchLoanRequest">
        <wsdl:part name="parameters" element="ns:returnsearchLoan"/>
    </wsdl:message>
    <wsdl:message name="returnsearchLoanResponse">
        <wsdl:part name="parameters" element="ns:returnsearchLoanResponse"/>
    </wsdl:message>
    <wsdl:message name="searchLoanRequest">
        <wsdl:part name="parameters" element="ns:searchLoan"/>
    </wsdl:message>
    <wsdl:message name="searchLoanResponse">
        <wsdl:part name="parameters" element="ns:searchLoanResponse"/>
    </wsdl:message>
    <wsdl:portType name="LbrosPortType">
        <wsdl:operation name="returnsearchLoan">
            <wsdl:input message="axis2:returnsearchLoanRequest" wsaw:Action="urn:returnsearchLoan"/>
            <wsdl:output message="axis2:returnsearchLoanResponse" wsaw:Action="urn:returnsearchLoanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchLoan">
            <wsdl:input message="axis2:searchLoanRequest" wsaw:Action="urn:searchLoan"/>
            <wsdl:output message="axis2:searchLoanResponse" wsaw:Action="urn:searchLoanResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LbrosSoap11Binding" type="axis2:LbrosPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="returnsearchLoan">
            <soap:operation soapAction="urn:returnsearchLoan" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchLoan">
            <soap:operation soapAction="urn:searchLoan" style="document"/>
            <wsdl:input>
                 <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Lbros">
        <wsdl:port name="LbrosHttpSoap11Endpoint" binding="axis2:LbrosSoap11Binding">
            <soap:address location="http://localhost:8888/axis2/services/Lbros.LbrosHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
