BpelModule2/src/LappS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://inm381/Coursework" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://inm381/Coursework/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax225="http://ws.apache.org/axis2/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://inm381/Coursework">
    <wsdl:documentation>LappS</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
            <xs:complexType name="LoanProducts">
                <xs:sequence>
                    <xs:element minOccurs="0" name="borrow" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cars" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idLoan" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lender" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="payment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="period" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalPayment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax226="http://ws.apache.org/axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inm381/Coursework/xsd">
            <xs:import namespace="http://ws.apache.org/axis2/xsd"/>
            <xs:element name="SaveLloan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="idLoan" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SaveLloanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax226:LoanProducts"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveLoan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveLoanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax226:LoanProducts"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loanApp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loanAppResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="loanAppRequest">
        <wsdl:part name="parameters" element="ns:loanApp"/>
    </wsdl:message>
    <wsdl:message name="loanAppResponse">
        <wsdl:part name="parameters" element="ns:loanAppResponse"/>
    </wsdl:message>
    <wsdl:message name="retrieveLoanRequest">
        <wsdl:part name="parameters" element="ns:retrieveLoan"/>
    </wsdl:message>
    <wsdl:message name="retrieveLoanResponse">
        <wsdl:part name="parameters" element="ns:retrieveLoanResponse"/>
    </wsdl:message>
    <wsdl:message name="SaveLloanRequest">
        <wsdl:part name="parameters" element="ns:SaveLloan"/>
    </wsdl:message>
    <wsdl:message name="SaveLloanResponse">
        <wsdl:part name="parameters" element="ns:SaveLloanResponse"/>
    </wsdl:message>
    <wsdl:portType name="LappSPortType">
        <wsdl:operation name="loanApp">
            <wsdl:input message="axis2:loanAppRequest" wsaw:Action="urn:loanApp"/>
            <wsdl:output message="axis2:loanAppResponse" wsaw:Action="urn:loanAppResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveLoan">
            <wsdl:input message="axis2:retrieveLoanRequest" wsaw:Action="urn:retrieveLoan"/>
            <wsdl:output message="axis2:retrieveLoanResponse" wsaw:Action="urn:retrieveLoanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SaveLloan">
            <wsdl:input message="axis2:SaveLloanRequest" wsaw:Action="urn:SaveLloan"/>
            <wsdl:output message="axis2:SaveLloanResponse" wsaw:Action="urn:SaveLloanResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LappSSoap11Binding" type="axis2:LappSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="loanApp">
            <soap:operation soapAction="urn:loanApp" style="document"/>
            <wsdl:input>
                 <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:input>
            <wsdl:output>
                 <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveLoan">
            <soap:operation soapAction="urn:retrieveLoan" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SaveLloan">
            <soap:operation soapAction="urn:SaveLloan" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LappS">
        <wsdl:port name="LappSHttpSoap11Endpoint" binding="axis2:LappSSoap11Binding">
            <soap:address location="http://localhost:8888/axis2/services/LappS.LappSHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
